---
import "#/styles/global.css";

import * as env from "astro:env/server";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import { ThemeScript } from "astro-theme-toggle";

import { siteConfig } from "#/configs/site";
import LDSchema from "./ld-schema.astro";

export type Metadata = {
  title?: string;
  description?: string;
  og?: string;
  author?: string;
  keywords?: string[];
};

type Props = { metadata: Metadata };
const { metadata } = Astro.props;
const {
  title = siteConfig.title,
  description = siteConfig.description,
  og = siteConfig.og,
  author = siteConfig.author,
  keywords = siteConfig.keywords,
} = metadata;
---

<title>{title}</title>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<meta name="generator" content={Astro.generator} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={String(Astro.site).replace(/\/+$/, "")} />
<meta property="og:url" content={new URL(og, Astro.site)} />
<meta property="og:image" content={new URL(og, Astro.site)} />
<meta property="og:image:alt" content={title} />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="675" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content={`@${env?.USERNAME ?? "mohxmdsh"}`} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(og, Astro.site)} />

<!-- Keywords -->
<meta name="keywords" content={keywords.join(", ")} />

<!-- Links -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={siteConfig.title}
  href={new URL("rss.xml", Astro.site)}
/>
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Canonical URL -->
<link href={String(new URL(Astro.url.pathname, Astro.site)).replace(/\/+$/, "")} rel="canonical" />

<!-- JSON-LD Schema -->
<LDSchema
  type={"website"}
  title={title}
  description={description}
  pageUrl={Astro.url.href}
  ogImageUrl={og}
/>

<!-- Fonts -->
<Font cssVariable="--font-sans" preload />

<!-- Scripts -->
<ThemeScript />
<ClientRouter />

<script is:inline type="module">
  // UI Helpers
  document.documentElement.classList.add("[&_[x-cloak]]:hidden");
</script>
<script src="../_scripts/fun.ts"></script>
