---
import { Image } from "astro:assets";
import type { GetSortedPosts } from "@/content/utils";

import Chip from "@/components/ui/chip.astro";
import Date from "@/components/ui/date.astro";
import Icon from "@/components/ui/icon.astro";
import Text from "@/components/ui/text.astro";
import * as Component from "@/components/ui/card";

type Props = GetSortedPosts[0];
const { id, data } = Astro.props;
---

<Component.Root as="a" href={`/v2/blog/${id}`}>
  <Component.Header>
    <div class="rounded-border mb-1 h-24 overflow-hidden">
      <Image
        src={data.image}
        alt="Cover"
        loading="eager"
        layout="full-width"
        class="rounded not-dark:hidden"
      />
    </div>
    <Text weight="bold">{data.title}</Text>
    <div class="flex flex-wrap gap-2">
      {data?.tags.map(({ text }) => <Chip value={text} variant="soft" />)}
    </div>
  </Component.Header>

  <Component.Body>
    <Text>{data.description}</Text>
  </Component.Body>

  <Component.Footer>
    <div class="flex items-center gap-1">
      <Icon name="Calendar" size="sm" />
      <Date size="sm" value={data.pubDate} />
    </div>
    <div class="flex items-center gap-1">
      <Icon name="Clock" size="sm" />
      <Text size="sm">{data.readingTime}</Text>
    </div>
  </Component.Footer>
</Component.Root>
