---
import type { Page } from "astro";
import { getPopularTags, type GetSortedPosts } from "#/content/utils";

import Layout from "#/layouts/layout.astro";
import Icon from "#/components/ui/icon.astro";
import Text from "#/components/ui/text.astro";
import Separator from "#/components/ui/separator.astro";
import Link from "#/components/ui/link.astro";
import Chip from "#/components/ui/chip.astro";
import * as Paginator from "#/components/ui/paginator";

import PostCard from "./post-card.astro";
import PostSearch from "./post-search.astro";
import PostTotalViews from "./post-total-views.astro";

const tags = await getPopularTags();
const { data: paginatedPosts, url, currentPage, lastPage, total } = Astro.props as Page<
  GetSortedPosts[0]
>;
---

<Layout
  metadata={{
    title: "🧑‍🚀 Latest Blog Posts !",
    description: "Explore the Cosmos of Ideas! Latest Blog Posts",
  }}
>
  <section class="space-y-4 pb-6 font-sans">
    <div class="w-full space-y-3 text-center">
      <Text as="h1" class="font-8bit font-bold" size="fluid-3xl" variant="muted"
        >🧑‍🚀 Latest Blog Posts !</Text
      >
      <Text class="text-muted-foreground">Explore the Cosmos of Ideas! Latest Blog Posts</Text>

      <div class="text-foreground mt-6 flex items-center gap-4">
        <Text as="h1" size="fluid-2xl" class="font-bold uppercase">ALL Posts</Text>

        <Separator class="flex-1" />

        <div class="text-fluid-sm flex items-center">
          <PostTotalViews server:defer variant="muted" size="sm">
            <span slot="fallback">0 Views</span>
          </PostTotalViews>
          <Icon name="dot" class="shrink-0" size="sm" aria-hidden />
          <span>{total} Posts</span>
        </div>
      </div>

      <div class="mt-3 space-y-4 rounded border p-4">
        <PostSearch />

        <div class="flex flex-wrap gap-2">
          {
            tags.map((tag) => (
              <Link href={`/tags/${tag.id}`} aria-label={`Filter posts by ${tag.text}`}>
                <Chip class="hover:border-primary hover:text-foreground transition-colors">
                  {tag.text}
                </Chip>
              </Link>
            ))
          }
          <Link href="/tags"><Chip> Explore All Tags</Chip></Link>
          <Link href="/series"><Chip icon="list">Explore Series</Chip></Link>
        </div>
      </div>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        paginatedPosts.map((post, index) => (
          <PostCard
            class="mb-4 break-inside-avoid"
            slug={post.id}
            post={post.data}
            priority={index < 3}
          />
        ))
      }
    </div>

    <Paginator.Root class="justify-self-center">
      <Paginator.Control page="first" href={url.first} disabled={!url.first} />
      <Paginator.Control page="previous" href={url.prev} disabled={!url.prev} />
      <Paginator.Page current={currentPage} max={lastPage} />
      <Paginator.Control page="next" href={url.next} disabled={!url.next} />
      <Paginator.Control page="last" href={url.last} disabled={!url.last} />
    </Paginator.Root>
  </section>
</Layout>
