---
import "@/global.css";
import type { HTMLAttributes } from "astro/types";

import BaseHead, { type Metadata } from "./_components/base-head.astro";
import Banner from "@/components/banner/banner.astro";
import Cd from "@/components/ui/cd.astro";
import ArtPlum from "@/components/effects/art-plum.astro";

type Props = HTMLAttributes<"main"> & {
  metadata?: Metadata;
  banners?: (string | ImageMetadata)[];
  banner?: string | ImageMetadata;
};

const {
  metadata = {},
  banner,
  banners,
  class: className,
  ...props
} = Astro.props;
---

<html>
  <head>
    <BaseHead metadata={metadata} />
  </head>

  <body>
    {banners && <Banner title={metadata.title} carouselImages={banners} />}
    {
      banner && !banners && (
        <Banner title={metadata.title} backgroundImage={banner} />
      )
    }

    <main {...props} class:list={["flex-1", className]}>
      <slot />
    </main>

    {
      Astro.url.pathname !== "/" && (
        <>
          <ArtPlum />
          <Cd />
        </>
      )
    }
  </body>
</html>
