---
import Separator from "#/components/ui/separator.astro";
import Icon from "#/components/ui/icon.astro";
import Text from "#/components/ui/text.astro";
import Link from "#/components/ui/link.astro";

import { cn } from "#/lib/utils";
import type { ProjectSchema } from "#/content/config";

type Props = {
  project: ProjectSchema;
};

const { project } = Astro.props;
const { description, forks, githubUrl, name, stars, language } = project;
---

<div class="bg-card rounded border shadow-sm">
  <div class="bg-muted flex items-center gap-2 border-b px-2 py-1.5">
    <Icon name="book" size="sm" class="text-muted-foreground" aria-hidden="true" />
    <span class="font-semibold">{name}</span>
  </div>

  <div class="flex flex-col gap-3 p-3 text-sm">
    <Text as="p" size="sm">{description}</Text>

    <Separator />

    <div class="flex items-center justify-between">
      <div class="flex items-center gap-3 text-xs">
        <span class="flex items-center gap-1 text-sm">
          <Icon name="star" size="sm" />
          {stars}
        </span>
        <span class="flex items-center gap-1 text-sm">
          <Icon name="git-fork" size="sm" />
          {forks}
        </span>
        {
          language && (
            <span class="flex items-center gap-1 text-sm">
              <span class={cn("bg-primary size-2 rounded-full", language)} />
              {language}
            </span>
          )
        }
      </div>

      {
        githubUrl && (
          <Link href={githubUrl} target="_blank" class="hover:text-link text-sm" iconSize="sm">
            Code
          </Link>
        )
      }
    </div>
  </div>
</div>
